extends base

block content
  p Olá #{firstName}, seja bem-vindo(a) ao Main!
  p
  | Seu login é: 
  strong #{login}
  p Clique no botão abaixo para confirmar seu email.
  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}` target='_blank') Confirmar Meu Email